{% for i in object_list %}
<table>
  <tr>
    <th>{{ i.title }}</th>
  </tr>
  <tr>
    <td>Серия : {{ i.series }}</td>
  </tr>
  <tr>
    <td> Номер : {{ i.number }}</td>
  </tr>
  <tr>
    <td>Дата выпуска: {{ i.release_date|date:"d-m-Y" }}</td>
  </tr>
  <tr>
    <td>Дата окончания: {{ i.finish_date|date:"d-m-Y" }}</td>
  </tr>
  <tr>
    <td>Статус: {{ i.status }}</td>
  </tr>
</table>
{% endfor %}
